@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.eot");
    src: local("Raleway Regular"), local("Raleway-Regular"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.eot");
  src: local("Raleway Light"), local("Raleway-Light"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Manrope';
  src: url("../fonts/Manrope-ExtraBold.eot");
  src: local("Manrope ExtraBold"), local("Manrope-ExtraBold"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype"), url("../fonts/Manrope-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
    font-family: 'Manrope';
  src: url("../fonts/Manrope-Light.eot");
  src: local("Manrope Light"), local("Manrope-Light"), url("../fonts/Manrope-Light.woff") format("woff"), url("../fonts/Manrope-Light.ttf") format("truetype"), url("../fonts/Manrope-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
